---
import DigitalAltar from "../components/ui/DigitalAltar";
import { homePageContent } from "../config";
import Layout from "../layouts/Layout.astro";
---

<Layout seo={homePageContent.seo}>
	<div class="relative min-h-[300vh] bg-transparent">
		<DigitalAltar client:load />
	</div>
</Layout>
